html {
  padding: 0;
  margin: 0;
  min-width: 400px;
}

body {
  padding: 0;
  margin: 0;
  min-width: 400px;
  font-size: 12px;
  box-sizing: content-box;
}

body > main {
  padding: 10px;
}

.title {
  font-size: 14px;
  font-weight: 600;
}

#jump-button {
  border: 1px solid #aaa;
  border-radius: 5px;
  background: #fff;
  color: rgb(49, 130, 206);
  padding: 8px 8px;
  text-align: center;
  cursor: pointer;
  transition: all ease .2s;
}

#jump-button:hover {
  background: #eee;
}
